@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <h1>In-App Registration Disabled</h1>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
