@page
@model IndexModel

<div class="text-center">
    <h1>Debtor Management Application</h1>
    
    <p>Debtor demo application. Based on a blog post by Al-Najjar on Dev.to.</p>
    <p>Want to read more? <a href="https://dev.to/yaser/are-you-a-mediocre-developer-me-too-34ed">Are You a Mediocre Developer? ME TOO</a></p>
    <br />
    <p>Let's get started: <a class="btn btn-primary btn-sm" asp-page="Debtors/Index">Click Here</a></p>
</div>
